:root{
    --color: #7f9769;
    --primary: var(--color);
}
body{
    background-color: var(--primary);
}

html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title{
    text-align: center;
    font-size: 3.2rem;
    font-family: 'Manrope', sans-serif;
    transition: all .5s;
}
#btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.play{
    flex-direction: row;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Manrope', sans-serif;
    background-color: #5c974f;
}

.gallery{
    flex-direction: row;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Manrope', sans-serif;
    background-color: #5c974f;
}

.words{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Manrope', sans-serif;
    margin-top: 10px;
}

#container{
    margin-top: 10px;
    flex-direction: row;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Manrope', sans-serif;
}