:root{
    --color: #7f9769;
    --primary: var(--color);
}
body{
    background-color: var(--primary);
}

html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title{
    text-align: center;
    font-size: 3.2rem;
    font-family: 'Manrope', sans-serif;
    transition: all .5s;
}
#btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.play{
    flex-direction: row;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Manrope', sans-serif;
    background-color: #5c974f;
}

.gallery{
    flex-direction: row;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Manrope', sans-serif;
    background-color: #5c974f;
}

.words{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Manrope', sans-serif;
    margin-top: 10px;
}

#container{
    margin-top: 10px;
    flex-direction: row;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Manrope', sans-serif;
}

.card {
    height: 45vh;
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    padding: 3px;
    background-color: #a3d395;
    box-shadow: 10px 10px 5px #747450;
}

.card-title {
    font-size: 2.0rem;
    text-align: center;
    transition: all .5s;
    font-family: 'Manrope', sans-serif;
}
.card-img{
    max-height: 70%;
    max-width: 100%;
  }

.card-price{
    background-color: #a3d395; 
    font-size: 1.4rem;
    margin-bottom: 30px #a3d395;
    text-align: center;
    transition: all .5s;
    font-family: 'Manrope', sans-serif;
}
